@tailwind base;
@tailwind components;
@tailwind utilities;

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

.gotu-regular {
    font-family: "Gotu", sans-serif;
    font-style: normal;
}